<section data-ng-controller="DeptsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Depts</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="dept in depts" data-ng-href="#!/depts/{{dept._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="dept.created | date:'medium'"></span>
				by
				<span data-ng-bind="dept.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="dept.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!depts.$resolved || depts.length">
    	No Depts yet, why don't you <a href="/#!/depts/create">create one</a>?
    </div>
</section>